
@model IEnumerable<FileUpload.Models.MyFile>
@{
    ViewData["Title"] = "Index";
}


<h3>Все файлы</h3>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Путь</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var f in Model)
        {
        <tr>
            <td>@Url.Content(f.Id.ToString())</td>
            <td>@Url.Content(f.Name)</td>
            <td>@Url.Content(f.Path)</td>
            <td>@Url.Content(f.SimpleDescr)</td>
            <td><a asp-action="Details" asp-controller="Upload" asp-route-id="@f.Id">Детали</a></td>
        </tr>
        }
    </tbody>
</table>
